@media only screen and (max-width:760px) {
    .carousel-caption h2 {
        font-size: 15px;
    }
    .carousel-caption p {
        font-size: 5px;
    }
    .courses
    {
        display: flex;
        flex-direction: column;
    }
    .courses img
    {
        width: 100%;
        height: auto;
    }
    .cng-text
    {
        text-align: center;
    }
}
@media only screen and (max-width:992px) {
    .carousel-caption h2 {
        font-size: 30px;
    }
    .carousel-caption p {
        font-size: 15px;
    }
    
}